/* CSS Styles for d3-custom standard graphics */

.standardGraph {
  font-family: 'Monaco';
  fill:#353839;
  color: #635F5D
}

.tick text {
  font-size:14px;
}

.tick line {
}

.axisLabel {
  font-size:14px;
}

.graph_xaxis, .graph_yaxis{
  
}



/* Standard graph title */
.graphTitle{
  fill: #353839;
  font-size: 16px;
}

/* Bars on Bar Graph */
.graphBar{
  stroke: #353839;
  stroke-width: 2px;
}


/* Standard Legend Styling */

.legendLabel{
  alignment-baseline: middle;
  font-size:10px;
}

.legendSquare{
  stroke:#353839;
  stroke-width: 1px;
}

/* Font sizes based on device size */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .graphTitle{
    font-size: 20px;
  }

  .tick text {
    font-size:14px;
  }

  .legendLabel{
    font-size:16px;
  }

  .axisLabel{
    font-size:16px
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}