text {
  font-family: Roboto, sans-serif;
}

.tick text {
  font-size: 2.5em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axisLabel {
  font-size: 3em;
  fill: #8E8883;
}

.graph_xaxis, .graph_yaxis{
  fill:black
}

/* Standard graph title */
.graphTitle{
  font-size: 3em;
}

/* Bars on Bar Graph */
.graphBar{
  stroke: black;
  stroke-width: 2px;
}


/* Standard Legend Styling */

.legendLabel{
  font-size: 18px;
  alignment-baseline: middle;
}

.legendSquare{
  stroke:black;
  stroke-width: 2px;
}